.forgot-pass-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.forgot-pass-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}