.register-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 70%;
}

.register-form-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    width: 70vh;
}

.register-form1 {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
}

.register-form2 {
    display: grid;
    grid-template-columns: 50% 50%;

}

.register-input-container1 {
    margin-right: 3%;
}

.register-input-container2 {
    margin-right: 5%;
}

.register-form-input-text {
    width: 100%;
    font-size: 18px;
    margin: 5px 20px 8px 10px;
}


.register-org-description-container {
    display: flex;
    flex-direction: column;
}

#orgDescriptions {
    letter-spacing: 0px;
    font-size: 18px;
    resize: vertical;
    max-height: 150px;
    min-height: 100px;
}

.register-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}